<h1>Please enter the location and a description of the places you have visited </h1>


<form action="/output">
  <div class="form-group">
    <label for="location">Please enter a location you've visited:</label>
    <input id="location" name="location" class="form-control" type="text">
    <div class="form-group">
      <label for="description">Please enter a description:</label>
      <input id="description" name="description" class="form-control" type="text">

</div>
    <button type="submit" class="btn-success">Send</button>
  </form>


  </div>


</form>
